{% extends 'base.html.twig' %}

{% block title %}
    Records
{% endblock %}

{% block body %}
    <body>
        <div class="container">
            <div class="row">
                <h1>Records</h1>
                {% if pagination is defined and pagination.items|length %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 5%">{{ knp_pagination_sortable(pagination, 'ID', 'record.id') }}</th>
                                <th style="width: 15%">{{ knp_pagination_sortable(pagination, 'Alias', 'author.alias') }}</th>
                                <th class="text-center" style="width: 10%;">Sort by Alias</th>
                                <th style="width: 30%;">{{ knp_pagination_sortable(pagination, 'Title', 'record.title') }}</th>
                                <th style="width: 15%">{{ knp_pagination_sortable(pagination, 'Genre', 'genre.genreName') }}</th>
                                <th class="text-center" style="width: 10%;">Sort by Genre</th>
                                <th class="text-center" style="width: 15%;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for record in pagination.items %}
                            <tr>
                                <td>{{ record.id }}</td>
                                <td>{{ record.author.alias }}</td>
                                <td>
                                    <a href="{{ url('ebay_records', {'filters.author_id' : record.author.id}) }}" title="{{ record.author.alias }}">
                                        {{ record.author.alias }}
                                    </a>
                                </td>
                                <td>{{ record.title }}</td>
                                <td>{{ record.genre.genreName }}</td>
                                <td>
                                    <a href="{{ url('ebay_records', {'filters.genre_id' : record.genre.id}) }}" title="{{ record.genre.genreName }}">
                                        {{ record.genre.genreName }}
                                    </a>
                                </td>
                                <td class="text-center">
                                    {% if is_granted('VIEW', record) %}
                                    <a class="btn btn-outline-primary m-1" href="{{ url('ebay_records_show', {id: record.id}) }}" title="View">
                                        View
                                    </a>
                                    {% endif %}
                                    {% if is_granted('EDIT', record) %}
                                    <a class="btn btn-outline-info m-1" href="{{ url('record_edit', {id: record.id}) }}" title="Edit">
                                        Edit
                                    </a>
                                    {% endif %}
                                    {% if is_granted('DELETE', record) %}
                                    <a class="btn btn-outline-danger m-1" href="{{ url('record_delete', {id: record.id}) }}" title="Delete">
                                        Delete
                                    </a>
                                    {% endif %}
                                    <a class="btn btn-outline-success m-1" href="{{ url('reservation_create') }}" title="Rent">
                                        Rent
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {% include 'default/_single_alert_message.html.twig' with {
                        type: 'warning',
                        message: 'There are no records in the database'
                    } %}
                {% endif %}
            </div>
            <div class="row">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h4>Don't see a record in the database?</h4>
                <div>
                    <a class="btn btn-outline-success mb-3" style="width: 100%" href="{{ url('record_create')}}" title="Create">
                        Add record
                    </a>
                </div>
                {% endif %}
                <div class="navigation text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </body>

{% endblock %}
