{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.homepage'|trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>
                    {{ 'title.homepage_welcome'|trans }}
                </h1>
            </div>
            <div>
                <p>
                    {{ 'title.homepage_look'|trans }}
                    <a class="btn btn-outline-primary m-2" href="{{ url('ebay_records') }}" title="{{ 'title.homepage_here'|trans }}">
                        {{ 'title.homepage_here'|trans }}
                    </a>
                </p>
                <p>
                    {{ 'title.homepage_reservation'|trans }}
                    <a class="btn btn-outline-secondary m-2" href="{{ url('reservation_create') }}" title="{{ 'title.homepage_here'|trans }}">
                        {{ 'title.homepage_here'|trans }}
                    </a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
