{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.genres_list'|trans }}
{% endblock %}

{% block body %}
    <body>
        <div class="container">
            <div class="row">
                <h1>{{ 'title.genres_list'|trans }}</h1>
                {% if pagination is defined and pagination.items|length %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 5%">{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'genre.id') }}</th>
                                <th style="width: 75%">{{ knp_pagination_sortable(pagination, 'label.genre_name'|trans, 'genre.genreName') }}</th>
                                <th class="text-center" style="width: 20%">{{ 'label.actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for genre in pagination.items %}
                            <tr>
                                <td>{{ genre.id }}</td>
                                <td>{{ genre.genreName }}</td>
                                <td class="text-center">
                                    <a class="btn btn-outline-primary me-2" href="{{ url('ebay_genres_show', {id: genre.id}) }}" title="{{ 'action.view'|trans }}">
                                        {{ 'action.view'|trans }}
                                    </a>
                                    <a class="btn btn-outline-info me-2" href="{{ url('genre_edit', {id: genre.id}) }}" title="{{ 'action.edit'|trans }}">
                                        {{ 'action.edit'|trans }}
                                    </a>
                                    <a class="btn btn-outline-danger" href="{{ url('genre_delete', {id: genre.id}) }}" title="{{ 'action.delete'|trans }}">
                                        {{ 'action.delete'|trans }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% else %}
                    {% include 'default/_single_alert_message.html.twig' with {
                        type: 'warning',
                        message: 'message.record_not_found'|trans
                    } %}
                {% endif %}
            </div>

            <div class="row">
                <h4>{{ 'title.create_genre'|trans }}</h4>
                <div>
                    <a class="btn btn-outline-success mb-3" style="width: 100%" href="{{ url('genre_create')}}" title="{{ 'title.genre_add'|trans }}">
                        {{ 'title.genre_add'|trans }}
                    </a>
                </div>

                <div class="navigation text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </body>

{% endblock %}
