{% extends 'base.html.twig' %}

{% block title %}
    {{ genre.genreName }}
{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <div class="row">
            <h1>Details</h1>
            {% if genre is defined and genre|length %}
                <dl class="dl-horizontal">
                    <dt>ID</dt>
                    <dd>{{ genre.id }}</dd>
                    <dt>Genre</dt>
                    <dd>{{ genre.genreName }}</dd>
                    <dt>Actions</dt>
                    <dd>
                        <a class="btn btn-outline-info me-2 mt-2" href="{{ url('genre_edit', {id: genre.id}) }}" title="Edit">
                            Edit
                        </a>
                        <a class="btn btn-outline-danger me-2 mt-2" href="{{ url('genre_delete', {id: genre.id}) }}" title="Delete">
                            Delete
                        </a>
                        <a class="btn btn-outline-dark mt-2" href="{{ url('ebay_genres')}}" title="Return">
                            Return
                        </a>
                    </dd>
                </dl>
            {% else %}
                {% include 'default/_single_alert_message.html.twig' with {
                    type: 'warning',
                    message: 'Genre not found'
                } %}
            {% endif %}
        </div>
    </div>
    </body>

{% endblock %}
