{% extends 'base.html.twig' %}

{% block title %}
    Authors
{% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Expand at md</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown04">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form>
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <body>
        <div class="container">
            <div class="row">
                <h1>Authors</h1>
                {% if pagination is defined and pagination.items|length %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 5%">{{ knp_pagination_sortable(pagination, 'ID', 'author.id') }}</th>
                                <th style="width: 35%">{{ knp_pagination_sortable(pagination, 'Alias', 'author.alias') }}</th>
                                <th style="width: 20%">{{ knp_pagination_sortable(pagination, 'Name', 'author.name') }}</th>
                                <th style="width: 20%">{{ knp_pagination_sortable(pagination, 'Surname', 'author.surname') }}</th>
                                <th class="text-center" style="width: 20%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for author in pagination.items %}
                            <tr>
                                <td>{{ author.id }}</td>
                                <td>{{ author.alias }}</td>
                                <td>{{ author.name }}</td>
                                <td>{{ author.surname }}</td>
                                <td class="text-center">
                                    <a class="btn btn-outline-primary me-2" href="{{ url('ebay_authors_show', {id: author.id}) }}" title="View">
                                        View
                                    </a>
                                    <a class="btn btn-outline-info me-2" href="{{ url('author_edit', {id: author.id}) }}" title="Edit">
                                        Edit
                                    </a>
                                    <a class="btn btn-outline-danger" href="{{ url('author_delete', {id: author.id}) }}" title="Delete">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {% include 'default/_single_alert_message.html.twig' with {
                        type: 'warning',
                        message: 'There are no authors in the database'
                    } %}
                {% endif %}
            </div>

            <div class="row">
                <h4>Don't see an author in the database?</h4>
                <div>
                    <a class="btn btn-outline-success mb-3" style="width: 100%" href="{{ url('author_create')}}" title="Create">
                        Add author
                    </a>
                </div>

                <div class="navigation text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </body>

{% endblock %}
