{% extends 'base.html.twig' %}

{% block title %}
    {{ author.alias }}
{% endblock %}

{% block body %}
    <body>
        <div class="container">
            <div class="row">
                <h1>Details</h1>
                {% if author is defined and author|length %}
                    <dl class="dl-horizontal">
                        <dt>ID</dt>
                        <dd>{{ author.id }}</dd>
                        <dt>Alias</dt>
                        <dd>{{  author.alias }}</dd>
                        <dt>Name</dt>
                        <dd>{{ author.name }}</dd>
                        <dt>Surname</dt>
                        <dd>{{ author.surname }}</dd>
                        <dt>Actions</dt>
                        <dd>
                            <a class="btn btn-outline-info me-2 mt-2" href="{{ url('genre_edit', {id: author.id}) }}" title="Edit">
                                Edit
                            </a>
                            <a class="btn btn-outline-danger me-2 mt-2" href="{{ url('genre_delete', {id: author.id}) }}" title="Delete">
                                Delete
                            </a>
                            <a class="btn btn-outline-dark mt-2" href="{{ url('ebay_genres')}}" title="Return">
                                Return
                            </a>
                        </dd>
                    </dl>
                {% else %}
                    {% include 'default/_single_alert_message.html.twig' with {
                        type: 'warning',
                        message: 'Author not found'
                    } %}
                {% endif %}
            </div>
        </div>
    </body>

{% endblock %}